NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=""
NEXT_PUBLIC_ALCHEMY_API_KEY="ALCHEMY_API_KEY"
NEXT_PUBLIC_HOST="http://localhost:3000"
NEXT_PUBLIC_API_HOST="http://localhost:3001"
NEXT_PUBLIC_DEFAULT_CHAIN=97